body {
    background-color: lavenderblush;
    text-align: center;
}

h1{
    background-color: aquamarine;
    color: gray;
    padding: 20px;
}

h2{
    color: teal;
}

h3{
    
    color: cornflowerblue;
    
}

li{
    color: darkblue;  /*bullet color */
}

li span {
    color: black; /* text color */
  }
/*
This is CSS syntax
selector {
    property : value
}
*/

